@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/alagard.ttf'); 
} 

body 
{
    cursor: url('../images/CursorIcon01.png'), auto;
   margin: 0;
   font-family: News Cycle;  src: local("News Cycle"), url('../fonts/alagard.ttf');;
}

footer
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 25%;
   clear:both;
}

#newsletter
{
   margin: left;
   width: 100%;
   border: 5px solid #cccccc;
   border-radius: 6px;
   animation: mymove 3s;
   animation-iteration-count: infinite;
   position: relative;
   filter: drop-shadow(8px 8px 10px black);
}

.content
{
  background: url("../images/backgroundvoid.gif");
  height: 100%;
  width: 100%;
  min-height:100%;
  background-size: cover;
  overflow: hidden;
  position: fixed;
}

#contentpanels
{
  height: 100%;
  width: 62%;
  position:relative;
  margin-left: auto; 
  margin-right: 0;
}

#trailer{
  height: 540px;
  width: 960px;
  border: 5px solid #cccccc;
  border-radius: 6px;
  filter: drop-shadow(8px 8px 10px black);
  position:relative;
  animation: mymove 6s;
  animation-iteration-count: infinite;
}

#p1
{
    font-size: 72px;
    color: #CCCCCC;
      filter: drop-shadow(8px 8px 10px black);
         animation: mymove 3s;
   animation-iteration-count: infinite;
   position: relative;
}

#textTitle
{
  height: 5vh;
  width: 20vh;
  position:relative;       
  float:left;
  text-align: center;
  margin-top: 2%;
      margin-left: 1vh;
}

#p2
{
    font-size: 36px;
    color: #CCCCCC;
    filter: drop-shadow(8px 8px 10px black);
    position:relative;
    margin:0;
}


#space{
  height: 5vh;
  width: 10vh;

}

#buttons
{
  height:25vh;
  width: 5vh;
  margin-left: 2vh;
  margin-top: 10vh;
}

#playtest
{
    height:165px;
    width:206px;
  filter: drop-shadow(8px 8px 10px black);

  margin-left: 5vh;
  margin-top: -17.5vh;
  float:left;

}

#presskit
{
  height:15vh;
  width: 25vh;
  margin-top: 2.55vh;
  filter: drop-shadow(8px 8px 10px black);
}

#player
{
    float:left;
    height:96px;
    width:96px;
    background-image: url("../images/player.gif");
    left:0;
}

#presskitimage
{
    height:96px;
    width:192px;
    background-image: url("../images/PressKit.png");
    float: left;
    left:auto;
    right:0;

    margin-left: 1vh;

   position:relative;
     cursor: pointer;
}

#presskitimage:hover
{
         filter: drop-shadow(8px 8px 10px black);
             animation: mymovehover 1.5s;
   animation-iteration-count: infinite;
}

.btnrrss
{
    height: 5vh;
  width: 5vh;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #white;
  margin-top: 1vh;
}

.bi
{
    margin-top: 10%;
}

.btnrrss:hover
{
     filter: drop-shadow(8px 8px 10px black);
     animation: mymovehover 2s;
   animation-iteration-count: infinite;
   position:relative;
}



@keyframes mymove {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}

@keyframes mymovehover {
  0%   {top: 0px;}
  50%  {top: -5px;}
  100% {top: 0px;}
}

@keyframes mymovehorizontal {
  0%   {left: 0px;}
  50%  {left: -10px;}
  100% {left: 0px;}
}




