@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/alagard.ttf'); 
} 

body 
{
    cursor: url('../images/CursorIcon01.png'), auto;
   margin: 0;
   font-family: News Cycle;  src: local("News Cycle"), url('../fonts/alagard.ttf');;
}

footer
{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 25%;
   clear:both;
}

#newsletter
{
   margin: left;
   width: 100%;
   border: 5px solid #cccccc;
   border-radius: 6px;
   animation: mymove 3s;
   animation-iteration-count: infinite;
   position: relative;
   filter: drop-shadow(8px 8px 10px black);
}

.content
{
  background: url("../images/backgroundvoid.gif");
  height: 100%;
  width: 100%;
  min-height:100%;
  background-size: cover;
  overflow: hidden;
  position: fixed;
}

#contentpanels
{
  height: 100%;
  width: 62%;
  position:relative;
  margin-left: auto; 
  margin-right: 0;
}

#trailer{
  height: 540px;
  width: 960px;
  border: 5px solid #cccccc;
  border-radius: 6px;
  filter: drop-shadow(8px 8px 10px black);
  position:relative;
  animation: mymove 6s;
  animation-iteration-count: infinite;
}

p
{
    font-size: 72px;
    color: #CCCCCC;
      filter: drop-shadow(8px 8px 10px black);
}

#space{
  height: 5vh;
  width: 10vh;

}

@keyframes mymove {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}

